<div class="lane">
  <div class="lane__wrap">
    <div class="lane__content">
      <form class="form contact" method="post" data-contact-form id="contactForm">
        <input type="hidden" value="" name="when" id="when" />
        <input type="hidden" value="" name="ref" id="ref" />
        <div class="form__elements">
          <div class="form__element">
            <label class="sr-only" for="firstname">Name</label>
            <input type="text" required placeholder="Name*" class="form__input" id="name" name="name" />
          </div>
          <div class="form__element">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" required placeholder="Email*" class="form__input" id="email" name="email" />
          </div>
          <div class="form__element">
            <label class="sr-only" for="tel">Phone</label>
            <input type="tel" placeholder="Phone" class="form__input" id="tel" name="tel" />
          </div>
        </div>
        <div class="form__elements">
          <div class="form__element">
            <label class="sr-only" for="message">Message</label>
            <textarea name="message" id="message" class="form__textarea" placeholder="Message?"></textarea>
          </div>
        </div>
        <div class="centered">
          <input type="submit" value="Get in touch" class="mz-button centered" data-contact-submit>
        </div>
      </form>
    </div>
  </div>
</div>


