<div class="lane lane--spacer lane--tiled-background" style="background-image: url({{asset "dist/images/icon-tile.png"}})">
  <div class="lane__wrap">
    <div class="lane__content">
      <h2 class="centered">Retail Insights</h2>
      <div class="cards">
        {{#get "posts" filter="tag:mz-blog-entry" limit="3" include="tags,authors" as |post|}}
          {{#post}}
            {{> blog-card}}
          {{/post}}
        {{/get}}
      </div>
    </div>
  </div>
</div>