<section class="sidebar__tags">
  <h3>Tags</h3>
  {{#get "tags" limit="all"}}
  <ul class="tags">
    {{#foreach tags}}
    <li>
      <a href="{{url}}">{{name}}</a>
    </li>
    {{/foreach}}
  </ul>
  {{/get}}
</section>