<section class="sidebar__search">
  <h3>Search</h3>
  <form>
    <input type="text" id="search-field" />
    <button type="submit" class="mz-button mz-button--secondary">Search</button>
  </form>
  <div id="results" class="sidebar__results"></div>
</section>