{{!< default}}

<div class="wrapper">

  {{navigation}}

  <section class="lane">
    <div class="lane__wrap">
      <div class="lane__content">
        <h2>500 - Error</h2>
        <h3>Something went wrong serving this page. Sorry about that.</h3>
      </div>
    </div>
  </section>

  <div class="lane lane--spacer">
    <div class="lane__wrap">
      <div class="lane__content">
        {{> contact}}
      </div>
    </div>
  </div>

  {{> latest-posts}}

</div>
