{{!< default}}

{{#page}}
  <div class="wrapper">

    {{navigation}}

    {{content}}

    {{#has tag="#show-contact"}}
      {{> contact}}
    {{/has}}

  </div>
{{/page}}

{{#post}}
  <div class="wrapper">

    {{navigation}}

    {{content}}

    {{#has tag="#show-contact"}}
      {{> contact}}
    {{/has}}

  </div>
{{/post}}
