{{!< default}}

<div class="wrapper">

  {{navigation}}

  {{#tag}}

    <section class="lane lane--masthead-small">
      <div class="lane__wrap">
        <div class="lane__content">
          <h2>Articles tagged: {{name}}</h2>
        </div>
      </div>
    </section>

  {{/tag}}

  <div class="lane lane--spacer lane--tiled-background"
    style="background-image: url({{asset "dist/images/icon-tile.png"}})">
    <div class="lane__wrap">
      <div class="lane__content">
        <div class="cards">
          {{#foreach posts}}
            {{> "blog-card"}}
          {{/foreach}}
        </div>
        </div>
      </div>
    </div>
  </div>

</div>
