// *****************************************************************************
// * Navigation
// * Primary / Mobile navigation
// *****************************************************************************

.navigation {

  display: block;
  position: relative;
  justify-content: space-between;
  padding: 1rem;

  // @include medium {
  //   display: flex;
  //   max-width: 1440px;
  //   margin: 0 auto;
  //   padding: 0 1rem;
  //   min-height: 80px;
  //   align-items: center;
  // }

  @include breakpoint(1440px) {
    padding: 0;
  }

  &__toggle {
    display: block;
    position: absolute;
    // hacky fix for positioning on mobile
    top: 12px;
    right: 0;
    border: 0;
    background-color: inherit;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    appearance: none;

    &:hover,
    &:focus {
      .mz-banner__nav-segment-wrapper {
        transform: scale(1.2);
      }
    }
  }

  &__toggle-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 30px;
    padding-top: 16px;
    border: 0;
    transition: 250ms $animation-speed;
    vertical-align: bottom;
  }

  &__toggle-icon {
    transition: $animation-speed;

    // All of the lines
    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      margin: 0 auto;
      padding: 0;
      border-radius: 4px;
      content: " ";
      background-color: $color-headings;
      text-align: center;
      backface-visibility: visible;

      // Inverted menu

      .mz-background-brand & {
        background-color: $color-white;
      }

      .mz-background-cover--darken & {
        background-color: $color-white;
      }

      .lane--blackout & {
        background-color: $color-white;
      }

      .lane--blackout-alt & {
        background-color: $color-white;
      }
    }

    // Top line
    &::before {
      transform: translateY(-8px);
      transition: $animation-speed;
    }

    // Bottomg line
    &::after {
      transform: translateY(8px);
      transition: $animation-speed;
    }
  }

  &__menu {
    display: none;
    position: relative;
    padding: 0;
    margin-top: 2rem;

    &.js-isOpen {
      display: block;

      @include medium {
        display: flex;
      }
    }

    // Only show menu on desktop (unless mobile toggled)
    // @include medium {
    //   display: flex;
    //   align-items: center;
    //   margin-top: 1.5rem;
    // }
  }

  &__entry {
    @include font-smoothing;
    position: relative;

    @include small {
      margin-left: 1rem;
    }
  }

  &__link {
    display: block;
    width: 50%;
    margin-bottom: 4px;
    padding-bottom: 12px;
    border-bottom: 2px solid $color-transparent;
    font-weight: lighter;
    font-size: 1rem;
    font-family: $base-font;
    transition: 400ms;
    text-transform: capitalize;

    @include small {
      width: auto;
    }

    &:hover,
    &:focus {
      margin-bottom: 4px;
      padding-bottom: 12px;
      border-bottom: 2px solid $color-transparent;
      color: $color-brand !important;

      @include medium {
        margin-bottom: 0;
        padding-bottom: 16px;
        border-bottom: 2px solid $color-brand;
      }
    }

    &--active {
      margin-bottom: 0;
      padding-bottom: 16px;
      border-top: 4px solid $color-active;
      color: $color-active;

      // Masks the hover/focus if already active
      &:hover,
      &:focus {
        border-bottom: 2px solid $color-active;
        color: $color-active;
      }
    }
  }

  &__mobile {

    // @include medium {
    //   display: none;
    // }
  }

  &__logo {
    display: inline-block;
    background-color: $color-panel-bg;

    img {
      width: 32px;
    }

  }

  &__logo-link {
    display: block;
  }

  &__logo-image {
    display: block;
    width: 100%;
    max-width: 140px;

    @include small {
      max-width: 180px;
    }
  }
}

.show {
  display: block;
}

// *****************************************************************************
// * Animate burger
// *****************************************************************************

// Menu Open: hide central segment
.navigation__toggle.js-isOpen .navigation__toggle-icon {
  background-color: transparent;
}

// Menu Open: animate top segment
.navigation__toggle.js-isOpen .navigation__toggle-icon::before {
  background-color: $color-black;
  animation: $animation-speed twistLeft;
  transform: translateY(0);
  animation-delay: 250ms;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

// Menu Open: hide bottom segment:
.navigation__toggle.js-isOpen .navigation__toggle-icon::after {
  background-color: $color-black;
  animation: $animation-speed twistRight;
  transform: translateY(-5px);
  animation-delay: 250ms;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

// *****************************************************************************
// * Keyframes
// *****************************************************************************

@keyframes twistLeft {
  from { transform: rotate(0deg); }
  to { transform: rotate(-45deg);  }
}

@keyframes twistRight {
  from { transform: rotate(0deg); }
  to { transform: rotate(45deg); }
}
