.cta-subscribe {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255, 0.8);

  &__modal {
    position: relative;
    background: linear-gradient(to bottom,#7db9e8 0%,#207cca 100%, #254c8e 100%);
    box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    margin: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    
    @include small {
      margin: 10% auto;
      width: 50%;
      max-width: 500px;
    }

    @include medium {
      padding: 3rem;
    }
  }

  button {
    display: block;
    margin: 1rem auto;
    padding: 0 3rem;
    max-width: 300px;

    @include small {
      margin-top: 2rem;
    }
  }

  input {
    display: block;
  }

  .lane__content {
    margin: 2rem;
  }

  h2 {
    color: $color-white;
    text-align: center;
  }

  p {
    color: $color-white;
    text-align: center;
    font-size: 1.1rem;
  }

  .strong {
    font-family: $base-font-bold;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
    font-size: 1.2rem;
  }

  .drop {
    display: block;
    width: 200px;
    margin: 1rem auto 2rem;

    @include small {
      width: 300px;
    }
  }

  .close {
    font-family: $base-font;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $color-white;
    cursor: pointer;
    font-size: 2  rem;
  }
}

.hidden {
  display: none
}

