.endowrimo-page {
    margin-left: 300px;
    padding: 50px;
    background-color: #111111;
    color: #ffffff;
    overflow: auto;
    top: 0;
    position: absolute;
    z-index: 910;
    height: 91vh;

    .stats {
        padding: 20px;
        text-align: center;

        .stat-block {
            background-color: #222299;
            display: inline-block;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            width: 150px;
            height: 120px;
            vertical-align: top;
            position: relative;

            p {
                position: absolute;
                top: 0;
                width: calc(100% - 20px);
            }

            .score {
                font-weight: bold;
                vertical-align: bottom;
                bottom: 10px;
                top: auto;
            }
        }
    }

    .recharts-wrapper {
        width: 100% !important;
        color: #ffffff;

        text {
            fill: rgb(255, 255, 255);
        }
    }

    .recharts-cartesian-grid-vertical {
        line {
            display: none;
        }
    }

    .progress {
        width: calc(100% - 170px);
        position: relative;

        .progress-header {
            margin-bottom: 0;
            margin-top: 40px;
        }

        .day-input {
            color: #ffffff50;
            display: inline-block;
            padding: 10px;

            h4 {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            input {
                width: 55px;
            }
        }

        .past {
            color: white;
        }

        .today  {
            color: #44f;
            position: absolute;
            right: 0;
            top: 20px;
            margin-right: -140px;
            font-size: 30px;

            h4 {
                text-transform: uppercase;
            }

            input {
                font-weight: bold;
                font-size: 30px;
                width: 120px;
            }
        }
    }

    .awards {
        img {
            display: inline-block;
            height: 100px;
        }
    }
}