.endowrimo-page {
    margin-left: 300px;
    padding: 50px;
    background-color: #111111;
    color: #ffffff;
    overflow: auto;
    top: 0;
    position: absolute;
    z-index: 910;
    height: 100vh;

    .recharts-wrapper {
        width: 100% !important;
        color: #ffffff;

        text {
            fill: rgb(255, 255, 255);
        }
    }

    .recharts-cartesian-grid-vertical {
        line {
            display: none;
        }
    }

    .progress-header {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .day-input {
        color: #ffffff50;
        display: inline-block;
        padding: 10px;

        h4 {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        input {
            width: 55px;
        }
    }

    .past {
        color: white;
    }

    .today  {
        color: green;

        h4 {
            text-transform: uppercase;
        }

        input {
            font-weight: bold;
        }
    }

    .awards {
        img {
            display: inline-block;
            height: 100px;
        }
    }
}