// *****************************************************************************
// * Standard breakpoints
// *****************************************************************************

@mixin xsmall {
  @media (min-width: $xsmall)  { @content ; }
}

@mixin small {
  @media (min-width: $small)  { @content ; }
}

@mixin medium {
  @media (min-width: $medium)  { @content ; }
}

@mixin large {
  @media (min-width: $large)  { @content ; }
}

@mixin xlarge {
  @media (min-width: $xlarge)  { @content ; }
}


// *****************************************************************************
// * Arbitrary breakpoints for those edge cases
// *****************************************************************************

@mixin breakpoint($point) {
  @media (min-width: $point) { @content ; }
}

@mixin breakpoint-max($point) {
  @media (max-width: $point) { @content ; }
}

@mixin content-max {
  @media (min-width: 1126px)  { @content ; }
}
