// ****************
// * RESET LIST
// ****************

@mixin reset-list() {
  position: static;
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  &:before {
    display: none;
    content: "";
  }
}