@mixin scrollbars {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track {
    background-color: $color-white;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background-color: $color-brand;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-brand;
  }
}