/*
  EDINBURGH SFF
*/

$color-brand: #fded07;
$color-body: #003B4A;
$color-body-dark: #fded07;
$color-body-faded: #c5d3d6;
$color-links: #fff;

$color-grey: rgb(250 250 250);

$body-font: 'Fira Code', monospace;
$heading-font: "Chakra Petch", sans-serif;

#root {
  --font-body: $body-font;
  --font-body-weight: 400;
  --font-body-bold-weight: 600;
  --font-heading: $heading-font;
  --color-body: $color-body;
  --color-body-faded: $color-body-faded;
  --color-brand: $color-brand;
  --color-links: $color-links;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $body-font;
  padding-bottom: 1rem;
  background-color: #fff;
  overflow: hidden;
}

.gm-style iframe + div { border:none !important; }

a {
  color: $color-links;
  overflow: hidden;
  text-decoration: none;
}

p {
  line-height: 1.5;

  & + p {
    padding-top: 1rem;
  }
}

.sff {
  margin: 0 auto;
}

@keyframes sff-background-drift-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sff-background-drift-2 {
  0% {
    transform: translateX(-25%);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-25%);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25);
  }
}

@keyframes sff-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  scrollbar-color: #fded07 #000;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fded07;
    border-radius: 0;
    border: 1px solid #fded07;
  }
}

.scroll-dialog {
  scrollbar-color: #fded07 #1b1a04;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background:  #1b1a04;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fded07;
    border-radius: 0;
    border: 1px solid #fded07;
  }
}

.scroll-dialog-admin {
  scrollbar-color: #1a1a17 #fff;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background:  #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1a1a17;
    border-radius: 0;
    border: 1px solid #1a1a17;
  }
}

.dragged {
  background-color: rgb(37, 37, 197);
  z-index: 999999;
}

.test {
  background-color: red;
  border: 2px solid black;
}