#root {
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Fira Code', monospace;
  /* padding: 16px; */
  margin: 0;
  background-color: #fff;
}

.sff {
  margin: 0 auto;
}

.sff-masthead img {
  width: 100%;
  height: auto;
}

.sff-header {
  max-width: 500px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.sff-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.sff-community {
  background-color: rgba(0,0,0, 0.1);
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
}

.sff-community h2 {
  text-align: center;
}

a {
  color: red;
}
