#root {
  margin: 0 auto;
  text-align: center;

  --font-body: 'Fira Code', monospace;
  --font-body-weight: 400;
  --font-body-bold-weight: 500;

  --font-heading: 'Fira Code', monospace;

  --color-body: #003B4A;
  --color-body-faded: #c5d3d6;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding-bottom: 4rem;
  background-color: #fff;
}

.sff {
  margin: 0 auto;
}

.sff-masthead-img {
  width: 100%;
  height: auto;
}

a {
  color: red;
}