#root {
  margin: 0 auto;
  text-align: center;

  --font-body: 'Fira Code', monospace;
  --font-body-weight: 400;
  --font-body-bold-weight: 500;

  --font-heading: 'Fira Code', monospace;

  --color-body: #003B4A;
  --color-body-faded: #c5d3d6;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding-bottom: 4rem;
  background-color: #fff;
}

.sff {
  margin: 0 auto;
}

.sff-masthead-img {
  width: 100%;
  height: auto;
}

a {
  color: red;
}

//

$color-start: #bd6767; // Start color
$color-end: #6e67bd; // End color

$grid-columns: 4; // Number of grid columns
$grid-rows: 3; // Number of grid rows

$color-steps: $grid-columns * $grid-rows; // Total number of color steps

.grid {

  > div {
    @for $i from 1 through $color-steps {
      $color-percentage: percentage($i / $color-steps);
      $interpolated-color: mix($color-start, $color-end, $color-percentage);

      &:nth-child(#{$i}) {
        background-color: $interpolated-color;
      }
    }
  }
}